Repository grokability/snipe-it, pull requests merged in 2023-12, with the labels that each got.

#13992 Added eula-pdfs to allow-list on restore
  app/Console/Commands/RestoreFromBackup.php
Labels: backend, backups, restore, cli / artisan

#13993 Fixed the Column header Serial to Product Key on a User View
  resources/views/account/view-assets.blade.php
Labels: frontend

#13998 Added help text to RTD location field
  resources/lang/en/general.php
  resources/views/hardware/edit.blade.php
Labels: frontend, translations

#13999 Updated to alpine 3.18.5 (PR to #13989)
  Dockerfile.alpine
Labels: docker

#13888 Convert Vue Personal Access Tokens to Livewire
  app/Http/Controllers/ProfileController.php
  app/Http/Livewire/PersonalAccessTokens.php
  resources/assets/js/components/passport/PersonalAccessTokens.vue
  resources/assets/js/vue.js
  resources/views/account/api.blade.php
  resources/views/livewire/personal-access-tokens.blade.php
Labels: frontend, backend, javascript, dependencies, skins, livewire

#13882 Fix client side validation in the v7 branch
  app/Http/Controllers/SettingsController.php
  package-lock.json
  package.json
  resources/views/depreciations/edit.blade.php
  resources/views/hardware/edit.blade.php
  resources/views/layouts/default.blade.php
  resources/views/partials/forms/edit/category-select.blade.php
  resources/views/partials/forms/edit/location-select.blade.php
  resources/views/partials/forms/edit/manufacturer-select.blade.php
  resources/views/partials/forms/edit/model-select.blade.php
  resources/views/partials/forms/edit/name.blade.php
  resources/views/partials/forms/edit/quantity.blade.php
  resources/views/partials/forms/edit/status-select.blade.php
  resources/views/partials/forms/edit/status.blade.php
  resources/views/settings/branding.blade.php
  tests/Feature/Settings/BrandingSettingsTest.php
  webpack.mix.js
Labels: frontend, backend, javascript, dependencies, skins, tests

#14007 Fixed maintenances patch endpoint
  app/Http/Controllers/Api/AssetMaintenancesController.php
  app/Models/AssetMaintenance.php
  resources/lang/en/general.php
Labels: backend, api, translations

#14015 Updated importer icons
  resources/lang/en/general.php
  resources/views/layouts/default.blade.php
  resources/views/livewire/importer.blade.php
Labels: frontend, livewire, translations

#14016 Set default sorting on backups to latest first
  resources/views/settings/backups.blade.php
Labels: frontend, backups

#14017 Smaller icon size for activity reports, other action icons
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/mix-manifest.json
  resources/assets/less/overrides.less
Labels: frontend, css, skins

#14018 Added model name and number to quickscan
  app/Http/Controllers/Api/AssetsController.php
  resources/views/hardware/quickscan-checkin.blade.php
Labels: frontend, backend, api

#14020 Added $user->created_at to API user create method
  app/Http/Controllers/Api/UsersController.php
Labels: backend, api

#14021 Fixed HTML double-encoded on checkout emails.
  app/Http/Controllers/Assets/AssetCheckoutController.php
Labels: backend

#14024 Last Vue Components
  app/Http/Livewire/OauthClients.php
  package-lock.json
  package.json
  resources/assets/js/bootstrap.js
  resources/assets/js/components/passport/AuthorizedClients.vue
  resources/assets/js/components/passport/Clients.vue
  resources/assets/js/components/select2.vue
  resources/assets/js/snipeit.js
  resources/assets/js/vue.js
  resources/views/account/api.blade.php
  resources/views/livewire/oauth-clients.blade.php
  resources/views/settings/api.blade.php
  resources/views/vendor/passport/authorize.blade.php
  webpack.mix.js
Labels: frontend, backend, javascript, dependencies, skins, livewire

#14026 Fixed checkbox/radio button display on models edit for default fields
  app/Http/Controllers/AssetModelsController.php
  database/factories/CustomFieldFactory.php
  resources/views/livewire/custom-field-set-default-values-for-model.blade.php
Labels: frontend, backend, livewire, tests

#14028 [Snyk] Upgrade alpinejs from 3.12.3 to 3.13.3 #14013
  package-lock.json
  package.json
Labels: javascript, dependencies

#14036 Added user agent, remote_ip, action_source to action_logs
  app/Http/Controllers/Api/ReportsController.php
  app/Http/Controllers/ReportsController.php
  app/Http/Transformers/ActionlogsTransformer.php
  app/Models/Actionlog.php
  database/migrations/2023_12_14_032522_add_remote_ip_and_action_source_to_action_logs.php
  resources/lang/en/general.php
  resources/views/hardware/view.blade.php
  resources/views/reports/activity.blade.php
  resources/views/users/view.blade.php
Labels: frontend, backend, api, translations

#14031 Fixed undefined $search_base
  app/Console/Commands/LdapSync.php
Labels: backend, ldap, cli / artisan

#13966 Removed jquery-ui-bundle
  package-lock.json
  package.json
  webpack.mix.js
Labels: frontend, javascript, dependencies, skins

#14042 Fixed #14037 - record current time on accessory checkin
  app/Http/Controllers/Accessories/AccessoryCheckinController.php
Labels: backend

#14001 Added Status Label names to Asset history/ Action log
  app/Http/Transformers/ActionlogsTransformer.php
  resources/lang/en/admin/statuslabels/message.php
Labels: backend, translations

#14050 Added log message for who is being sent expected checkin notifications
  app/Console/Commands/SendExpectedCheckinAlerts.php
Labels: backend, cli / artisan

#13994 Added licensed to name and email in user profile license view
  resources/views/account/view-assets.blade.php
Labels: frontend

#14055 Make sure we're getting an object instead of a collection on Asset API for model_id
  app/Http/Controllers/Api/AssetsController.php
Labels: backend, api

#14039 Fixes CVE-2023-43655 Composer Remote Code Execution vulnerability public composer.phar
  composer.lock
Labels: backend, dependencies

#14038 Fixes CVE-2023-50251 and CVE-2023-50262 DoS on parsing SVG
  composer.lock
Labels: backend, dependencies

#14056 Implement 1D barcode for label "Tapes\Dymo\LabelWriter_30252" #13987
  app/Models/Labels/Tapes/Dymo/LabelWriter_30252.php
Labels: backend

#14062 Added back-migration for Big Locale Refactoring
  app/Helpers/Helper.php
  database/migrations/2023_12_19_081112_fix_language_dirs.php
Labels: backend

#14072 Update ResetSettings command to en-US vs en
  app/Console/Commands/ResetDemoSettings.php
Labels: backend, cli / artisan
