Repository grokability/snipe-it, pull requests merged in 2023-05, with the labels that each got.

#12954 Clear the settings cache on app destruction
  tests/Support/InteractsWithSettings.php
  tests/TestCase.php
  tests/Unit/AssetMaintenanceTest.php
  tests/Unit/AssetModelTest.php
  tests/Unit/AssetTest.php
  tests/Unit/CategoryTest.php
  tests/Unit/ComponentTest.php
  tests/Unit/DepreciationTest.php
  tests/Unit/NotificationTest.php
  tests/Unit/SnipeModelTest.php
Labels: tests

#12956 Updated Node version, and various packages to more recent
  .nvmrc
  package-lock.json
  package.json
  webpack.mix.js
Labels: frontend, javascript, dependencies, skins

#12957 Fix webpack for v7
  public/css/build/AdminLTE.css
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/css/dist/bootstrap-table.css
  public/css/dist/signature-pad.min.css
  public/css/dist/skins/skin-black-dark.css
  public/css/dist/skins/skin-black-dark.min.css
  public/css/dist/skins/skin-black.css
  public/css/dist/skins/skin-black.min.css
  public/css/dist/skins/skin-blue-dark.css
  public/css/dist/skins/skin-blue-dark.min.css
  public/css/dist/skins/skin-blue.css
  public/css/dist/skins/skin-blue.min.css
  public/css/dist/skins/skin-contrast.css
  public/css/dist/skins/skin-contrast.min.css
  public/css/dist/skins/skin-green-dark.css
  public/css/dist/skins/skin-green-dark.min.css
  public/css/dist/skins/skin-green.css
  public/css/dist/skins/skin-green.min.css
  public/css/dist/skins/skin-orange-dark.css
  public/css/dist/skins/skin-orange-dark.min.css
  public/css/dist/skins/skin-orange.css
  public/css/dist/skins/skin-orange.min.css
  public/css/dist/skins/skin-purple-dark.css
  public/css/dist/skins/skin-purple-dark.min.css
  public/css/dist/skins/skin-purple.css
  public/css/dist/skins/skin-purple.min.css
  public/css/dist/skins/skin-red-dark.css
  public/css/dist/skins/skin-red-dark.min.css
  public/css/dist/skins/skin-red.css
  public/css/dist/skins/skin-red.min.css
  public/css/dist/skins/skin-yellow-dark.css
  public/css/dist/skins/skin-yellow-dark.min.css
  public/css/dist/skins/skin-yellow.css
  public/css/dist/skins/skin-yellow.min.css
  public/js/build/app.js
  public/js/build/app.js.LICENSE.txt
  public/js/build/vendor.js
  public/js/dist/all.js
  public/js/dist/bootstrap-table.js
  public/mix-manifest.json
  webpack.mix.js
Labels: frontend, css, skins

#12966 fixed color differences in dark themes
  resources/assets/less/overrides.less
  resources/assets/less/skins/skin-black-dark.less
  resources/assets/less/skins/skin-blue-dark.less
  resources/assets/less/skins/skin-green-dark.less
  resources/assets/less/skins/skin-orange-dark.less
  resources/assets/less/skins/skin-red-dark.less
  resources/assets/less/skins/skin-yellow-dark.less
  resources/views/partials/bootstrap-table.blade.php
Labels: frontend, css, skins

#12958 Snipeit v7 merge develop 05 01 2022
  .env.example
  app/Http/Transformers/CategoriesTransformer.php
  app/Models/Manufacturer.php
  app/Presenters/LicensePresenter.php
  config/hashing.php
  resources/views/partials/bootstrap-table.blade.php
  tests/Support/InteractsWithSettings.php
  tests/TestCase.php
  tests/Unit/AssetMaintenanceTest.php
  tests/Unit/AssetModelTest.php
  tests/Unit/AssetTest.php
  tests/Unit/CategoryTest.php
  tests/Unit/ComponentTest.php
  tests/Unit/DepreciationTest.php
  tests/Unit/NotificationTest.php
  tests/Unit/SnipeModelTest.php
Labels: frontend, backend, tests

#12964 Restrict PHP version to <8.2
  composer.json
  composer.lock
Labels: backend, dependencies

#12943 Remove the loading of asset maintenances that are not used by view
  app/Http/Controllers/Api/AssetMaintenancesController.php
  app/Http/Controllers/ReportsController.php
Labels: backend, api

#12880 Added component costs to asset view
  app/Models/Asset.php
  resources/lang/en/admin/hardware/table.php
  resources/views/hardware/view.blade.php
Labels: frontend, backend, translations

#12846 Location importer via Livewire Importer
  app/Http/Controllers/Api/ImportController.php
  app/Http/Livewire/Importer.php
  app/Importer/Importer.php
  app/Importer/ItemImporter.php
  app/Importer/LocationImporter.php
  app/Models/Location.php
  sample_csvs/MOCK_LOCATIONS.csv
Labels: frontend, backend, importer, api, livewire

#12916 Added ability to auto-add fields to new fieldsets
  app/Http/Controllers/Api/CustomFieldsetsController.php
  app/Http/Controllers/CustomFieldsController.php
  app/Http/Controllers/CustomFieldsetsController.php
  app/Http/Requests/CustomFieldRequest.php
  app/Http/Transformers/CustomFieldsTransformer.php
  app/Models/CustomField.php
  database/factories/CustomFieldFactory.php
  database/migrations/2023_04_25_085912_add_autoadd_to_customfields.php
  resources/lang/en/admin/custom_fields/general.php
  resources/views/custom_fields/fields/edit.blade.php
  resources/views/custom_fields/index.blade.php
  tests/Unit/CustomFieldTest.php
Labels: frontend, backend, custom fields, api, translations, tests

#12955 Fixed Error 500 after sign and accept asset
  app/Http/Controllers/Account/AcceptanceController.php
  app/Http/Controllers/Api/AssetsController.php
Labels: backend, api

#12874 Adds a checkout range for custom asset reports
  app/Http/Controllers/ReportsController.php
  resources/views/reports/custom.blade.php
Labels: frontend, backend

#12974 Show signature column in asset history regardless of “require sig” state
  resources/views/hardware/view.blade.php
Labels: frontend

#12979 Added missing use statement
  app/Http/Controllers/Api/CustomFieldsetsController.php
Labels: backend, custom fields, api

#12981 Fixed misplaced div when saml is disabled
  resources/views/settings/saml.blade.php
Labels: frontend, saml

#12983 Add optional filename to backup
  app/Console/Commands/SystemBackup.php
Labels: backend, backups, cli / artisan

#12984 Check that the filename we pass ends in zip, add it if not
  app/Console/Commands/SystemBackup.php
Labels: backend, backups, cli / artisan

#12972 Fixes user name missing in accessory acceptance notifications
  app/Http/Controllers/Account/AcceptanceController.php
  app/Models/CheckoutAcceptance.php
  database/factories/CheckoutAcceptanceFactory.php
  resources/views/notifications/markdown/asset-acceptance.blade.php
  routes/web.php
  tests/Feature/CheckoutAcceptances/AccessoryAcceptanceTest.php
  tests/Support/Settings.php
Labels: frontend, backend, tests

#12975 Fixed Notes field doesn't get populate when creating/updating assets via Importer [sc-23222]
  app/Http/Livewire/Importer.php
Labels: backend, importer, livewire

#12976 Refactor of #12955
  app/Http/Controllers/Api/AssetsController.php
  app/Models/Asset.php
Labels: backend, api

#12985 Increase state from 3 chars
  app/Models/Location.php
  app/Models/Supplier.php
  app/Models/User.php
  database/migrations/2023_05_08_132921_increase_state_to_more_than_3.php
  resources/views/partials/forms/edit/address.blade.php
  resources/views/users/edit.blade.php
Labels: frontend, backend

#12986 Pass filename to pre-import backup
  app/Http/Controllers/Api/ImportController.php
  app/Http/Controllers/SettingsController.php
Labels: backend, api

#12982 Buttons on the Accessory View Page
  resources/lang/en/admin/accessories/general.php
  resources/lang/en/general.php
  resources/views/accessories/view.blade.php
Labels: frontend, translations

#12990 Added icon field back into assets page
  resources/views/hardware/view.blade.php
Labels: frontend

#12991 Fixed width of accessory columns in details
  resources/views/accessories/view.blade.php
Labels: frontend

#12993 Tightened up some layout issues, checkbox issues in LDAP settings
  resources/views/settings/ldap.blade.php
Labels: frontend, ldap

#12994 Google OAuth login
  app/Http/Controllers/GoogleAuthController.php
  app/Http/Controllers/SettingsController.php
  app/Models/Setting.php
  composer.json
  composer.lock
  config/app.php
  database/migrations/2023_05_10_001836_add_google_auth_to_settings.php
  resources/lang/en/auth/general.php
  resources/views/auth/login.blade.php
  resources/views/settings/google.blade.php
  resources/views/settings/index.blade.php
  routes/web.php
Labels: frontend, backend, dependencies, translations

#13004 Updated webpack, new asset files
  package-lock.json
  package.json
  public/css/build/AdminLTE.css
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/css/dist/bootstrap-table.css
  public/css/dist/signature-pad.min.css
  public/css/dist/skins/skin-black-dark.css
  public/css/dist/skins/skin-black-dark.min.css
  public/css/dist/skins/skin-black.css
  public/css/dist/skins/skin-black.min.css
  public/css/dist/skins/skin-blue-dark.css
  public/css/dist/skins/skin-blue-dark.min.css
  public/css/dist/skins/skin-blue.css
  public/css/dist/skins/skin-blue.min.css
  public/css/dist/skins/skin-contrast.css
  public/css/dist/skins/skin-contrast.min.css
  public/css/dist/skins/skin-green-dark.css
  public/css/dist/skins/skin-green-dark.min.css
  public/css/dist/skins/skin-green.css
  public/css/dist/skins/skin-green.min.css
  public/css/dist/skins/skin-orange-dark.css
  public/css/dist/skins/skin-orange-dark.min.css
  public/css/dist/skins/skin-orange.css
  public/css/dist/skins/skin-orange.min.css
  public/css/dist/skins/skin-purple-dark.css
  public/css/dist/skins/skin-purple-dark.min.css
  public/css/dist/skins/skin-purple.css
  public/css/dist/skins/skin-purple.min.css
  public/css/dist/skins/skin-red-dark.css
  public/css/dist/skins/skin-red-dark.min.css
  public/css/dist/skins/skin-red.css
  public/css/dist/skins/skin-red.min.css
  public/css/dist/skins/skin-yellow-dark.css
  public/css/dist/skins/skin-yellow-dark.min.css
  public/css/dist/skins/skin-yellow.css
  public/css/dist/skins/skin-yellow.min.css
  public/js/build/app.js
  public/js/build/vendor.js
  public/js/dist/all.js
  public/js/dist/bootstrap-table.js
  public/mix-manifest.json
Labels: frontend, javascript, css, dependencies, skins

#12831 Added Multiselect of companies for custom reports
  app/Http/Controllers/ReportsController.php
  resources/views/partials/forms/edit/company-select.blade.php
  resources/views/reports/custom.blade.php
Labels: frontend, backend

#13006 Fixes PR #12831 use array bracket for multi select company
  resources/views/reports/custom.blade.php
Labels: frontend

#13007 Fixed multiselect for companies
  resources/views/partials/forms/edit/company-select.blade.php
  resources/views/reports/custom.blade.php
Labels: frontend

#13037 Uses actions text in backups table
  resources/views/settings/backups.blade.php
Labels: frontend, backups

#13036 Added multi-select option for location, more to custom report
  app/Http/Controllers/Api/StatuslabelsController.php
  app/Http/Controllers/ReportsController.php
  resources/views/partials/forms/edit/category-select.blade.php
  resources/views/partials/forms/edit/department-select.blade.php
  resources/views/partials/forms/edit/location-select.blade.php
  resources/views/partials/forms/edit/manufacturer-select.blade.php
  resources/views/partials/forms/edit/model-select.blade.php
  resources/views/partials/forms/edit/status-select.blade.php
  resources/views/partials/forms/edit/supplier-select.blade.php
  resources/views/reports/custom.blade.php
  routes/api.php
Labels: frontend, backend, api

#13038 Importer fix for non-Location imports
  app/Importer/ItemImporter.php
Labels: backend, importer

#13025 removes assigned_to if archived
  app/Http/Controllers/Assets/AssetsController.php
Labels: backend

#13024 adds translation to checkout notification
  app/Notifications/CheckoutAssetNotification.php
  resources/lang/en/mail.php
Labels: backend, notifications, translations

#13008 Added standardized colors to the importer
  resources/assets/less/skins/skin-red-dark.less
Labels: frontend, css, skins

#13039 Added EOL date to importer
  app/Http/Livewire/Importer.php
  app/Importer/AssetImporter.php
  app/Importer/ItemImporter.php
Labels: backend, importer, livewire

#13070 Fixed #12947 Accessory image in checkin email when Show images in emails is disabled
  resources/views/notifications/markdown/checkin-accessory.blade.php
Labels: frontend

#13075 Fixed #13074 [API] Remaining accessories quantity not correct
  app/Http/Controllers/Api/AccessoriesController.php
Labels: backend, api

#13044 Bug/sc 23260 multi select example text
  resources/assets/less/overrides.less
Labels: frontend, css, skins

#13076 Dynamically adapt concatenation searches for MySQL and sqlite
  app/Models/Asset.php
  app/Models/Traits/Searchable.php
  app/Models/User.php
  database/seeders/CustomFieldSeeder.php
  tests/Feature/Api/Users/UsersForSelectListTest.php
  tests/Feature/Api/Users/UsersSearchTest.php
Labels: backend, custom fields, tests

#13077 Fixed mobile nav bar and notification position
  resources/assets/less/overrides.less
Labels: frontend, css, skins

#13046 Added Asset info overflow-wrap
  resources/assets/less/overrides.less
  resources/views/hardware/view.blade.php
Labels: frontend, css, skins

#13108 Fixes: issue #13073: deleted component addearing in asset component t…
  app/Models/Asset.php
Labels: backend
