Repository grokability/snipe-it, pull requests merged in 2024-12, with the labels that each got.

#15972 Updated font awesome
  package-lock.json
  package.json
  public/css/build/AdminLTE.css
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/css/dist/bootstrap-table.css
  public/css/dist/signature-pad.min.css
  public/css/dist/skins/_all-skins.css
  public/css/dist/skins/_all-skins.min.css
  public/css/dist/skins/skin-black-dark.css
  public/css/dist/skins/skin-black-dark.min.css
  public/css/dist/skins/skin-black.css
  public/css/dist/skins/skin-black.min.css
  public/css/dist/skins/skin-blue-dark.css
  public/css/dist/skins/skin-blue-dark.min.css
  public/css/dist/skins/skin-blue.css
  public/css/dist/skins/skin-blue.min.css
  public/css/dist/skins/skin-contrast.css
  public/css/dist/skins/skin-contrast.min.css
  public/css/dist/skins/skin-green-dark.css
  public/css/dist/skins/skin-green-dark.min.css
  public/css/dist/skins/skin-green.css
  public/css/dist/skins/skin-green.min.css
  public/css/dist/skins/skin-orange-dark.css
  public/css/dist/skins/skin-orange-dark.min.css
  public/css/dist/skins/skin-orange.css
  public/css/dist/skins/skin-orange.min.css
  public/css/dist/skins/skin-purple-dark.css
  public/css/dist/skins/skin-purple-dark.min.css
  public/css/dist/skins/skin-purple.css
  public/css/dist/skins/skin-purple.min.css
  public/css/dist/skins/skin-red-dark.css
  public/css/dist/skins/skin-red-dark.min.css
  public/css/dist/skins/skin-red.css
  public/css/dist/skins/skin-red.min.css
  public/css/dist/skins/skin-yellow-dark.css
  public/css/dist/skins/skin-yellow-dark.min.css
  public/css/dist/skins/skin-yellow.css
  public/css/dist/skins/skin-yellow.min.css
  public/css/webfonts/fa-brands-400.ttf
  public/css/webfonts/fa-brands-400.woff2
  public/css/webfonts/fa-regular-400.ttf
  public/css/webfonts/fa-regular-400.woff2
  public/css/webfonts/fa-solid-900.ttf
  public/css/webfonts/fa-solid-900.woff2
  public/css/webfonts/fa-v4compatibility.ttf
  public/css/webfonts/fa-v4compatibility.woff2
  public/js/build/app.js
  public/js/build/vendor.js
  public/js/dist/all.js
  public/js/dist/bootstrap-table.js
  public/mix-manifest.json
Labels: frontend, javascript, css, dependencies, skins

#15987 Add `string` to Password Reset Username Rules
  app/Http/Controllers/Auth/ForgotPasswordController.php
Labels: backend

#15991 Added a few order options on audit report
  resources/views/reports/audit.blade.php
Labels: frontend

#15982 Update Checkout Button Permission for Predefined Kits
  app/Http/Transformers/PredefinedKitsTransformer.php
  resources/views/partials/bootstrap-table.blade.php
Labels: frontend, backend

#15975 Added tests around license checkin
  app/Http/Controllers/Licenses/LicenseCheckinController.php
  database/factories/LicenseSeatFactory.php
  resources/lang/en-US/admin/licenses/message.php
  tests/Feature/Checkins/Ui/LicenseCheckinTest.php
Labels: backend, translations, tests

#15965 Added Consumable UI tests
  app/Http/Controllers/Consumables/ConsumablesController.php
  tests/Feature/Consumables/Ui/CreateConsumableTest.php
  tests/Feature/Consumables/Ui/DeleteConsumableTest.php
  tests/Feature/Consumables/Ui/UpdateConsumableTest.php
Labels: backend, consumables, tests

#15964 Added Accessory UI tests
  app/Http/Controllers/Accessories/AccessoriesController.php
  tests/Feature/Accessories/Ui/AccessoriesIndexTest.php
  tests/Feature/Accessories/Ui/DeleteAccessoryTest.php
  tests/Feature/Accessories/Ui/ShowAccessoryTest.php
  tests/Feature/Accessories/Ui/UpdateAccessoryTest.php
Labels: backend, tests

#15992 Fixed reset demo command
  app/Console/Commands/ResetDemoSettings.php
Labels: backend, cli / artisan

#16003 Check for valid asset before accessing properties
  app/Http/Controllers/Api/AssetMaintenancesController.php
  app/Http/Transformers/AssetMaintenancesTransformer.php
Labels: backend, api

#16013 Fixes tecnickcom/tcpdf security CVEs
  composer.lock
Labels: backend, dependencies
