Repository grokability/snipe-it, pull requests merged in 2024-09, with the labels that each got.

#15440 Fixes #15435 - user api put patch API route regression
  routes/api.php
  tests/Feature/Users/Api/UpdateUserTest.php
Labels: tests

#15463 Added ability to sort on qty and remaining for consumables
  app/Http/Controllers/Api/ConsumablesController.php
  app/Models/Consumable.php
  app/Presenters/ConsumablePresenter.php
Labels: backend, consumables, api

#15465 Correctly save user’s city on bulk edit
  app/Http/Controllers/Users/BulkUsersController.php
Labels: backend

#15468 Added coverage commands for Herd users
  .gitignore
  composer.json
Labels: backend, dependencies

#15474 Fixed login success message not being displayed
  app/Http/Controllers/DashboardController.php
Labels: backend

#15473 Added some permission tests for accessory api endpoints
  tests/Feature/Accessories/Api/DeleteAccessoryTest.php
  tests/Feature/Accessories/Api/IndexAccessoryTest.php
  tests/Feature/Accessories/Api/ShowAccessoryTest.php
  tests/Feature/Accessories/Api/StoreAccessoryTest.php
  tests/Feature/Accessories/Api/UpdateAccessoryTest.php
Labels: tests

#15472 Added test for dashboard counts
  tests/Feature/DashboardTest.php
Labels: tests

#15470 Added UI tests for creating companies
  database/factories/UserFactory.php
  tests/Feature/Companies/Ui/CreateCompaniesTest.php
Labels: tests

#15469 Added UI tests for creating accessories
  tests/Feature/Accessories/Ui/AccessoriesIndexTest.php
  tests/Feature/Accessories/Ui/CreateAccessoriesTest.php
Labels: tests

#15445 Fixed priority for category eula vs default eula
  app/Models/Asset.php
  tests/Support/Settings.php
  tests/Unit/NotificationTest.php
Labels: backend, tests

#15486 Fixed a couple bugs in CustomFieldSetDefaultValuesForModel component
  app/Livewire/CustomFieldSetDefaultValuesForModel.php
  resources/views/livewire/custom-field-set-default-values-for-model.blade.php
Labels: frontend, backend, custom fields, livewire

#15492 Fix - warn user on changing status to undeployable when editing
  app/Http/Controllers/Assets/AssetsController.php
  resources/lang/en-US/admin/hardware/form.php
  resources/views/hardware/edit.blade.php
  tests/Feature/Assets/Ui/EditAssetTest.php
Labels: frontend, backend, translations, tests

#15510 Fixed #15504 - allow nulling/not changing locale in user bulk edit
  app/Http/Controllers/Api/UsersController.php
  app/Http/Controllers/Users/BulkUsersController.php
  app/Models/User.php
  app/Presenters/UserPresenter.php
  resources/views/users/bulk-edit.blade.php
Labels: frontend, backend, api

#15493 Fixed misalignment of consumables with smaller media
  resources/views/consumables/view.blade.php
Labels: frontend, consumables

#15471 Fixes margin for the sidebar menus while using rtl languages
  resources/views/layouts/default.blade.php
Labels: frontend

#15516 Fixed check for outside assets on user update validation
  app/Rules/UserCannotSwitchCompaniesIfItemsAssigned.php
  resources/lang/en-US/admin/users/message.php
  resources/views/users/view.blade.php
  tests/Feature/Users/Api/UpdateUserTest.php
  tests/Feature/Users/Ui/UpdateUserTest.php
Labels: frontend, backend, translations, tests

#15491 [Fixes fd-43940] Improve multi-asset create when using numeric prefixes to asset_tags
  resources/views/hardware/edit.blade.php
Labels: frontend

#15512 Added tests for delete methods in api
  app/Http/Controllers/Api/AssetMaintenancesController.php
  app/Http/Controllers/Api/LicensesController.php
  app/Models/PredefinedKit.php
  database/factories/PredefinedKitFactory.php
  database/factories/UserFactory.php
  tests/Concerns/TestsFullMultipleCompaniesSupport.php
  tests/Concerns/TestsPermissionsRequirement.php
  tests/Feature/Accessories/Api/DeleteAccessoriesTest.php
  tests/Feature/Accessories/Api/DeleteAccessoryTest.php
  tests/Feature/AssetMaintenances/Api/DeleteAssetMaintenancesTest.php
  tests/Feature/AssetModels/Api/DeleteAssetModelsTest.php
  tests/Feature/Assets/Api/DeleteAssetsTest.php
  tests/Feature/Categories/Api/DeleteCategoriesTest.php
  tests/Feature/Companies/Api/DeleteCompaniesTest.php
  tests/Feature/Components/Api/DeleteComponentsTest.php
  tests/Feature/Consumables/Api/DeleteConsumablesTest.php
  tests/Feature/CustomFields/Api/DeleteCustomFieldsTest.php
  tests/Feature/CustomFieldsets/Api/DeleteCustomFieldsetsTest.php
  tests/Feature/Departments/Api/DeleteDepartmentsTest.php
  tests/Feature/Depreciations/Api/DeleteDepreciationsTest.php
  tests/Feature/Groups/Api/DeleteGroupsTest.php
  tests/Feature/Licenses/Api/DeleteLicensesTest.php
  tests/Feature/Locations/Api/DeleteLocationsTest.php
  tests/Feature/Manufacturers/Api/DeleteManufacturersTest.php
  tests/Feature/PredefinedKits/Api/DeletePredefinedKitsTest.php
  tests/Feature/StatusLabels/Api/DeleteStatusLabelsTest.php
  tests/Feature/Suppliers/Api/DeleteSuppliersTest.php
  tests/Feature/Users/Api/DeleteUsersTest.php
Labels: backend, custom fields, consumables, api, tests

#15531 Fixed mail notification field `status label` not updating
  app/Notifications/CheckoutAssetNotification.php
Labels: backend, notifications

#15518 Fixed #11634 - Sort by numeric columns for numeric custom fields
  app/Http/Controllers/Api/AssetsController.php
Labels: backend, api

#15507 Added #15506: Explicitly request used LDAP attributes
  app/Console/Commands/LdapSync.php
  app/Models/Ldap.php
Labels: backend, ldap, cli / artisan

#14671 [FIX] Update EOL date when used bulk update of purchase date
  app/Http/Controllers/Assets/BulkAssetsController.php
Labels: backend

#13291 Added date range for EOL in custom reports
  app/Http/Controllers/ReportsController.php
  resources/views/reports/custom.blade.php
Labels: frontend, backend

#15532 Catch Exceptions on Checkout Notification
  app/Http/Controllers/Account/AcceptanceController.php
Labels: backend

#15537 Updated jspdf autotable
  package-lock.json
  package.json
Labels: javascript, dependencies

#15544 Fixed app settings view on mobile
  resources/views/settings/index.blade.php
Labels: frontend

#15549 Fixes #15548 - unify audit api endpoints
  app/Http/Controllers/Api/AssetsController.php
  routes/api.php
Labels: backend, api

#15552 Fixed input field misalignments
  resources/assets/less/app.less
  resources/assets/less/overrides.less
Labels: frontend, css, skins

#15547 Fixed #13396 - do not allow checkout to undeployable status types
  app/Http/Requests/StoreAssetRequest.php
  app/Models/Asset.php
  app/Rules/AssetCannotBeCheckedOutToNondeployableStatus.php
  resources/views/hardware/view.blade.php
  tests/Feature/Assets/Api/StoreAssetTest.php
Labels: frontend, backend, tests

#15534 Added the ability to bulk print users
  app/Http/Controllers/Users/BulkUsersController.php
  app/Http/Controllers/Users/UsersController.php
  resources/lang/en-US/general.php
  resources/views/partials/users-bulk-actions.blade.php
  resources/views/users/print.blade.php
  routes/web/users.php
Labels: frontend, backend, translations

#15498 Refactoring modals with partials and fixing misalignments
  resources/views/modals/category.blade.php
  resources/views/modals/location.blade.php
  resources/views/modals/manufacturer.blade.php
  resources/views/modals/model.blade.php
  resources/views/modals/partials/categories-select.blade.php
  resources/views/modals/partials/fieldset-select.blade.php
  resources/views/modals/partials/footer.blade.php
  resources/views/modals/partials/manufacturer-select.blade.php
  resources/views/modals/partials/model-number.blade.php
  resources/views/modals/partials/name.blade.php
  resources/views/modals/statuslabel.blade.php
  resources/views/modals/supplier.blade.php
  resources/views/modals/user.blade.php
  resources/views/partials/forms/edit/company-select.blade.php
  resources/views/partials/forms/edit/email.blade.php
  resources/views/partials/forms/edit/location-profile-select.blade.php
  resources/views/partials/forms/edit/name-first.blade.php
  resources/views/partials/forms/edit/name-last.blade.php
  resources/views/partials/forms/edit/name.blade.php
  resources/views/partials/forms/edit/username.blade.php
  resources/views/users/edit.blade.php
Labels: frontend, custom fields

#15524 Fixed double webhook notifications // Separated email and webhook notifications.
  app/Listeners/CheckoutableListener.php
Labels: backend
