Repository grokability/snipe-it, pull requests merged in 2024-07, with the labels that each got.

#14999 Removed "Edit Your Profile" button from View Assets page if user is not able to edit their profile
  resources/views/account/view-assets.blade.php
Labels: frontend

#14983 Use more modern reference for input text
  resources/views/accessories/checkin.blade.php
  resources/views/custom_fields/fields/edit.blade.php
  resources/views/depreciations/edit.blade.php
  resources/views/hardware/audit.blade.php
  resources/views/hardware/edit.blade.php
  resources/views/hardware/history.blade.php
  resources/views/hardware/quickscan-checkin.blade.php
  resources/views/hardware/quickscan.blade.php
  resources/views/kits/accessory-edit.blade.php
  resources/views/kits/checkout.blade.php
  resources/views/kits/consumable-edit.blade.php
  resources/views/kits/license-edit.blade.php
  resources/views/kits/model-edit.blade.php
  resources/views/licenses/edit.blade.php
  resources/views/modals/location.blade.php
  resources/views/modals/model.blade.php
  resources/views/models/custom_fields_form.blade.php
  resources/views/models/custom_fields_form_bulk_edit.blade.php
  resources/views/models/edit.blade.php
  resources/views/partials/forms/edit/accessory-select.blade.php
  resources/views/partials/forms/edit/company-select.blade.php
  resources/views/partials/forms/edit/consumable-select.blade.php
  resources/views/partials/forms/edit/kit-select.blade.php
  resources/views/partials/forms/edit/license-select.blade.php
  resources/views/partials/forms/edit/uploadLogo.blade.php
  resources/views/partials/forms/edit/warranty.blade.php
  resources/views/settings/alerts.blade.php
  resources/views/settings/barcodes.blade.php
  resources/views/settings/branding.blade.php
  resources/views/settings/general.blade.php
  resources/views/settings/ldap.blade.php
  resources/views/settings/localization.blade.php
  resources/views/settings/purge-form.blade.php
  resources/views/settings/security.blade.php
  resources/views/setup/user.blade.php
  resources/views/statuslabels/edit.blade.php
  resources/views/users/confirm-bulk-delete.blade.php
  resources/views/users/edit.blade.php
Labels: frontend, custom fields

#14870 Add Label Template: Use with endless 62mm Brother printer rolls
  app/Models/Labels/Label.php
  app/Models/Labels/Tapes/Brother/TZe_62mm_Landscape.php
  app/Models/Labels/Tapes/Brother/TZe_62mm_Landscape_A.php
  app/View/Label.php
Labels: frontend, backend, javascript, css, custom fields, api, dependencies, skins

#15010 Added missing translations
  resources/lang/en-US/general.php
  resources/views/hardware/quickscan.blade.php
  resources/views/partials/more-info.blade.php
Labels: frontend, translations

#15021 Removed non-counts from allowed array
  app/Http/Controllers/Api/UsersController.php
  tests/Feature/Users/Api/UserSearchTest.php
  tests/Support/CanSkipTests.php
Labels: backend, api, tests

#15022 Resolved Potential Issue when Deleting Personal Access Tokens
  app/Livewire/PersonalAccessTokens.php
  resources/views/livewire/personal-access-tokens.blade.php
Labels: frontend, backend, livewire

#15016 Fixed #15005 - Improvements on user merge
  app/Console/Commands/MergeUsersByUsername.php
  app/Events/UserMerged.php
  app/Http/Controllers/Users/BulkUsersController.php
  app/Listeners/LogListener.php
  app/Models/User.php
  database/factories/ActionlogFactory.php
  database/factories/ConsumableFactory.php
  resources/views/users/confirm-merge.blade.php
  tests/Feature/Console/MergeUsersTest.php
  tests/Feature/Users/Ui/MergeUsersTest.php
Labels: frontend, backend, cli / artisan, tests

#15023 Added files column to bulk user delete, optimized queries
  resources/views/users/confirm-bulk-delete.blade.php
Labels: frontend

#15025 Upgrade webpack from 5.91.0 to 5.92.0 #15008
  package-lock.json
  package.json
Labels: javascript, dependencies

#15027 Added #15015 - ability for admins to select default avatar
  app/Http/Controllers/SettingsController.php
  app/Http/Requests/ImageUploadRequest.php
  app/Http/Transformers/UsersTransformer.php
  app/Presenters/UserPresenter.php
  database/migrations/2024_07_04_103729_add_default_avatar_to_settings.php
  resources/lang/en-US/admin/settings/general.php
  resources/views/layouts/default.blade.php
  resources/views/partials/forms/edit/uploadLogo.blade.php
  resources/views/settings/branding.blade.php
  resources/views/settings/general.blade.php
  tests/Feature/Settings/BrandingSettingsTest.php
Labels: frontend, backend, translations, tests

#15043 Fixed #15037 - Removed custom fieldsets on auditing - it’s not used (yet)
  app/Http/Controllers/Assets/AssetsController.php
Labels: backend

#15045 Snyk - Updated jquery validation
  package-lock.json
  package.json
  public/js/build/vendor.js
  public/js/dist/all.js
  public/mix-manifest.json
Labels: frontend, javascript, dependencies, skins

#15046 Added localization for bootstrap-tables
  public/js/dist/bootstrap-table-locale-all.min.js
  public/mix-manifest.json
  resources/views/partials/bootstrap-table.blade.php
  webpack.mix.js
Labels: frontend, javascript, skins

#15055 Fixed API key missing translations
  app/Http/Controllers/Api/ProfileController.php
  resources/lang/en-US/account/general.php
  resources/lang/en-US/general.php
  resources/views/livewire/personal-access-tokens.blade.php
Labels: frontend, backend, api, livewire, translations

#15059 Fixed missing print user assigned filter
  resources/views/users/print.blade.php
Labels: frontend

#15057 Fixes Potential Exception
  app/Models/CheckoutAcceptance.php
  tests/Feature/CheckoutAcceptances/Ui/AccessoryAcceptanceTest.php
Labels: backend, tests

#15071 Small consumables optimizations
  app/Http/Controllers/Api/ConsumablesController.php
  app/Http/Controllers/Consumables/ConsumableCheckoutController.php
  app/Http/Controllers/Consumables/ConsumablesController.php
  app/Http/Requests/StoreConsumableRequest.php
  app/Models/Consumable.php
  app/Models/ConsumableAssignment.php
  app/Observers/ConsumableObserver.php
  app/Presenters/ActionlogPresenter.php
  resources/lang/en-US/admin/consumables/message.php
  resources/views/consumables/checkout.blade.php
  resources/views/consumables/view.blade.php
  resources/views/layouts/default.blade.php
  resources/views/partials/forms/edit/category-select.blade.php
  resources/views/partials/forms/edit/minimum_quantity.blade.php
  resources/views/partials/forms/edit/quantity.blade.php
  tests/Feature/Categories/Api/IndexCategoriesTest.php
  tests/Feature/Consumables/Api/ConsumableIndexTest.php
  tests/Feature/Consumables/Api/ConsumableUpdateTest.php
  tests/Feature/Consumables/Api/ConsumableViewTest.php
  tests/Feature/Consumables/Ui/ConsumableViewTest.php
Labels: frontend, backend, consumables, api, translations, tests

#15069 Fixed inconsistent attributes order in Print All Assigned report
  resources/views/users/print.blade.php
Labels: frontend

#14722 Adds a command to resend acceptance emails
  app/Console/Commands/SendAcceptanceReminder.php
  app/Notifications/UnacceptedAssetReminderNotification.php
  resources/lang/en-US/mail.php
  resources/views/notifications/markdown/asset-reminder.blade.php
Labels: frontend, backend, cli / artisan, notifications, translations

#15073 Allow setting a prefix for Livewire's update and asset urls
  .env.example
  app/Providers/LivewireServiceProvider.php
  config/app.php
  config/livewire.php
Labels: backend

#15082 Fixed #10224: fix route names for optimize command
  routes/api.php
  tests/Feature/Assets/Api/AssetFilesTest.php
  tests/Feature/Console/OptimizeTest.php
Labels: tests

#15099 Fixed #15094 - wrong translation string for model on checkout
  resources/views/hardware/checkout.blade.php
Labels: frontend

#15085 Small layout tweaks to oauth page
  resources/views/livewire/oauth-clients.blade.php
Labels: frontend, livewire

#15084 Fixes #15067 - updated ldap sync locale to use `app()->getLocale()`
  app/Console/Commands/LdapSync.php
  app/Http/Middleware/CheckLocale.php
  app/Models/Ldap.php
Labels: backend, ldap, cli / artisan

#15111 Undo `optimize` command in test after it is completed
  tests/Feature/Console/OptimizeTest.php
Labels: tests

#15088 Added EULAs in print user's assets
  resources/views/users/print.blade.php
Labels: frontend

#15114 Checkout multiple of an accessory in one checkout
  app/Http/Controllers/Accessories/AccessoryCheckoutController.php
  app/Http/Controllers/Api/AccessoriesController.php
  app/Http/Kernel.php
  app/Http/Requests/AccessoryCheckoutRequest.php
  app/Http/Requests/StoreAccessoryRequest.php
  app/Models/Accessory.php
  app/Notifications/CheckoutAccessoryNotification.php
  resources/lang/en-US/admin/accessories/message.php
  resources/lang/en-US/validation.php
  resources/views/accessories/checkout.blade.php
  resources/views/notifications/markdown/checkout-accessory.blade.php
  routes/web/accessories.php
  tests/Feature/Checkouts/Api/AccessoryCheckoutTest.php
  tests/Feature/Checkouts/Ui/AccessoryCheckoutTest.php
Labels: frontend, backend, api, notifications, translations, tests

#15115 Improved Docker environment settings: implement `PHP_UPLOAD_LIMIT` for Alpine images
  docker/entrypoint_alpine.sh
Labels: docker

#15110 Fixed a coupled test namespaces
  tests/Feature/Departments/Api/CreateDepartmentsTest.php
  tests/Feature/Locations/Ui/IndexLocationsTest.php
Labels: tests

#14530 Added #14426: Makes all Manufacturer links dynamic, not just warranty lookup
  app/Models/Manufacturer.php
  app/Presenters/AssetPresenter.php
  resources/views/hardware/view.blade.php
Labels: frontend, backend

#15122 Fixed #15121 - bulk delete restore logging
  app/Http/Controllers/Assets/BulkAssetsController.php
Labels: backend

#15123 Added tests for bulk asset deletion and restore
  tests/Feature/Assets/Ui/BulkDeleteAssetsTest.php
  tests/Feature/CheckoutAcceptances/Ui/AccessoryAcceptanceTest.php
Labels: tests

#15124 Fixed use statement for Crypt in the importer, removed unused statements
  app/Importer/AssetImporter.php
Labels: backend, importer

#15125 Show existing images on user edit page
  resources/views/partials/forms/edit/image-upload.blade.php
Labels: frontend

#15127 Fixes #15076 - Removes ability to remove the default avatar from disk
  .gitignore
  app/Console/Commands/ResetDemoSettings.php
  app/Http/Controllers/SettingsController.php
  app/Http/Requests/ImageUploadRequest.php
  app/Models/Setting.php
  app/Presenters/UserPresenter.php
  database/seeders/SettingsSeeder.php
  public/img/default-sm.png
  public/img/demo/avatars/default.png
  public/uploads/avatars/default.png
  resources/lang/en-US/admin/settings/general.php
  resources/views/settings/branding.blade.php
  tests/Feature/Settings/BrandingSettingsTest.php
Labels: frontend, backend, cli / artisan, translations, tests

#15128 Nicer consumables layout
  app/Http/Controllers/Consumables/ConsumablesController.php
  app/Http/Transformers/ConsumablesTransformer.php
  resources/lang/en-US/admin/consumables/general.php
  resources/lang/en-US/button.php
  resources/lang/en-US/general.php
  resources/views/accessories/view.blade.php
  resources/views/consumables/view.blade.php
  routes/web/consumables.php
Labels: frontend, backend, consumables, translations

#15132 Hides the “Disable Other Login Mechanisms” option via env
  config/app.php
  resources/views/settings/security.blade.php
Labels: frontend

#15133 Load the english file again in case BS table doesn’t have a translation
  public/js/dist/bootstrap-table-en-US.min.js
  public/mix-manifest.json
  resources/views/partials/bootstrap-table.blade.php
  webpack.mix.js
Labels: frontend, javascript, skins

#15134 [Snyk] Upgrade bootstrap-table from 1.22.5 to 1.23.0 #15131
  package-lock.json
  package.json
  public/css/dist/all.css
  public/css/dist/bootstrap-table.css
  public/js/dist/bootstrap-table-en-US.min.js
  public/js/dist/bootstrap-table-locale-all.min.js
  public/js/dist/bootstrap-table.js
  public/mix-manifest.json
  webpack.mix.js
Labels: frontend, javascript, css, dependencies, skins

#15143 Switch to nb-NO from no-NO for Norwegian
  .env.docker
  .env.dusk.example
  TESTING.md
  app/Helpers/Helper.php
  database/migrations/2024_07_23_172032_change_no__n_o_to_nb__n_o.php
  resources/lang/en-US/localizations.php
  tests/Unit/SnipeTranslatorTest.php
Labels: backend, docker, translations, tests

#15147 Fix setup ssl check
  app/Http/Controllers/SettingsController.php
  tests/Feature/Settings/ShowSetUpPageTest.php
Labels: backend, tests

#14458 Add Form Request and Tests for Update Asset API Method
  app/Http/Controllers/Api/AssetsController.php
  app/Http/Requests/UpdateAssetRequest.php
  app/Models/Asset.php
  app/Providers/ValidationServiceProvider.php
  database/factories/AssetFactory.php
  database/factories/LocationFactory.php
  database/factories/UserFactory.php
  routes/api.php
  tests/Feature/Assets/Api/UpdateAssetTest.php
Labels: backend, docker, ldap, api, config, backups, restore, cli / artisan, tests

#15136 Remove cookie serialization
  .env.example
  app/Http/Middleware/EncryptCookies.php
  app/Providers/AuthServiceProvider.php
  config/passport.php
Labels: backend

#15148 Fixed start_date and end_date in user importer
  app/Importer/UserImporter.php
Labels: backend, importer

#15149 Fixed: Requiredness Check Bug
  app/Helpers/Helper.php
  tests/Feature/Assets/Ui/EditAssetTest.php
Labels: backend, tests

#15153 Fixed env var for backup config - related to #14964
  config/backup.php
Labels: backups

#15154 Fixes #15103 - Added EOL and audit into to user profile assets
  resources/views/account/view-assets.blade.php
Labels: frontend

#15155 Switch dockerfile to using php8.2 instead of 8.1 due to Alpine changes
  Dockerfile.alpine
Labels: docker

#15151 [Snyk] Security upgrade alpine from 3.18.6 to 3.19
  Dockerfile.alpine
Labels: docker

#15158 Cleaned up UI on asset view
  resources/views/hardware/view.blade.php
Labels: frontend

#15160 Allow cloning of deleted assets
  app/Http/Controllers/Assets/AssetsController.php
  resources/views/hardware/view.blade.php
  routes/web/hardware.php
  tests/Feature/Assets/Ui/CloneAssetTest.php
Labels: frontend, backend, tests

#15161 Fixes 500 when depreciation is active but no purchase date
  app/Models/Depreciable.php
  app/Models/License.php
  tests/Feature/Licenses/Ui/CreateLicenseTest.php
  tests/Feature/Licenses/Ui/LicenseViewTest.php
Labels: backend, tests

#15162 Added assets endpoint for locations
  app/Http/Controllers/Api/LocationsController.php
  routes/api.php
  tests/Feature/Locations/Api/LocationsViewTest.php
Labels: backend, api, tests

#15150 Registered custom anonymous blade component directory
  app/Providers/BladeServiceProvider.php
  config/app.php
  resources/views/blade/example.blade.php
Labels: frontend, backend

#15168 Improve restore sanitization - Fixes [sc-24840]
  app/Console/Commands/RestoreFromBackup.php
Labels: backend, backups, restore, cli / artisan

#15169 Create intermediate directories on restore if needed - Fixes [SC-25950]
  app/Console/Commands/RestoreFromBackup.php
Labels: backend, backups, restore, cli / artisan

#15172 Use blade component for submit redirect on asset edit/create
  app/Helpers/Helper.php
  app/Http/Controllers/Accessories/AccessoriesController.php
  app/Http/Controllers/Accessories/AccessoryCheckinController.php
  app/Http/Controllers/Accessories/AccessoryCheckoutController.php
  app/Http/Controllers/Assets/AssetCheckinController.php
  app/Http/Controllers/Assets/AssetCheckoutController.php
  app/Http/Controllers/Assets/AssetsController.php
  app/Http/Controllers/Components/ComponentCheckinController.php
  app/Http/Controllers/Components/ComponentCheckoutController.php
  app/Http/Controllers/Components/ComponentsController.php
  app/Http/Controllers/Consumables/ConsumableCheckoutController.php
  app/Http/Controllers/Consumables/ConsumablesController.php
  app/Http/Controllers/Licenses/LicenseCheckinController.php
  app/Http/Controllers/Licenses/LicenseCheckoutController.php
  app/Http/Controllers/Licenses/LicensesController.php
  app/Http/Controllers/Users/UsersController.php
  database/factories/ComponentFactory.php
  resources/views/accessories/checkin.blade.php
  resources/views/accessories/checkout.blade.php
  resources/views/accessories/edit.blade.php
  resources/views/blade/redirect_submit_options.blade.php
  resources/views/components/checkin.blade.php
  resources/views/components/checkout.blade.php
  resources/views/components/edit.blade.php
  resources/views/consumables/checkout.blade.php
  resources/views/consumables/edit.blade.php
  resources/views/hardware/checkin.blade.php
  resources/views/hardware/checkout.blade.php
  resources/views/hardware/edit.blade.php
  resources/views/layouts/edit-form.blade.php
  resources/views/licenses/checkin.blade.php
  resources/views/licenses/checkout.blade.php
  resources/views/licenses/edit.blade.php
  resources/views/partials/forms/redirect_submit_options.blade.php
  resources/views/users/edit.blade.php
  tests/Feature/Assets/Ui/EditAssetTest.php
  tests/Feature/Checkins/Ui/AssetCheckinTest.php
  tests/Feature/Checkins/Ui/ComponentCheckinTest.php
  tests/Feature/Checkins/Ui/LicenseCheckinTest.php
  tests/Feature/Checkouts/Ui/AccessoryCheckoutTest.php
  tests/Feature/Checkouts/Ui/AssetCheckoutTest.php
  tests/Feature/Checkouts/Ui/ComponentsCheckoutTest.php
  tests/Feature/Checkouts/Ui/ConsumableCheckoutTest.php
  tests/Feature/Checkouts/Ui/LicenseCheckoutTest.php
  tests/Unit/Helpers/HelperTest.php
Labels: frontend, backend, consumables, tests

#15170 Dynamically iterate through the skin listing to build skins
  webpack.mix.js
Labels: frontend, javascript, skins

#15187 Use the `pwd_secure_min` value (plus 5) for generated password
  resources/views/users/edit.blade.php
  tests/Feature/Checkouts/Ui/ComponentsCheckoutTest.php
Labels: frontend, tests

#15185 Added #14979: add checkout to location and assets functionality to accessories
  app/Console/Commands/RestoreFromBackup.php
  app/Helpers/Helper.php
  app/Http/Controllers/Accessories/AccessoriesController.php
  app/Http/Controllers/Accessories/AccessoryCheckinController.php
  app/Http/Controllers/Accessories/AccessoryCheckoutController.php
  app/Http/Controllers/Api/AccessoriesController.php
  app/Http/Controllers/Users/BulkUsersController.php
  app/Http/Requests/AccessoryCheckoutRequest.php
  app/Http/Transformers/AccessoriesTransformer.php
  app/Http/Transformers/ActionlogsTransformer.php
  app/Models/Accessory.php
  app/Models/AccessoryCheckout.php
  app/Models/User.php
  app/Presenters/AccessoryPresenter.php
  database/factories/AccessoryFactory.php
  database/migrations/2024_07_26_143301_add_checkout_for_all_types_to_accessories.php
  resources/views/accessories/checkout.blade.php
  resources/views/accessories/view.blade.php
  tests/Feature/Checkins/Ui/AccessoryCheckinTest.php
  tests/Feature/Checkouts/Api/AccessoryCheckoutTest.php
  tests/Feature/Checkouts/Ui/AccessoryCheckoutTest.php
Labels: frontend, backend, api, backups, restore, cli / artisan, tests

#15188 Fixed 1d barcode targeting.
  app/View/Label.php
Labels: backend

#14565 Checks that custom fields exist before saving
  app/Http/Requests/StoreAssetRequest.php
  app/Http/Requests/Traits/MayContainCustomFields.php
  resources/lang/en-US/validation.php
Labels: backend, custom fields, translations

#15194 Fixed A Translation Issue With Auth
  app/Http/Controllers/Auth/ResetPasswordController.php
Labels: backend

#15193 Fixed admin boxes alignment
  resources/assets/less/overrides.less
Labels: frontend, css, skins
