Repository grokability/snipe-it, pull requests merged in 2024-11, with the labels that each got.

#14441 Fixes Assets location not being resynced when Users location is updated via LDAP
  app/Console/Commands/LdapSync.php
Labels: backend, ldap, cli / artisan

#15804 Updated laravel, additional packages for CVE-2024-52301
  composer.lock
Labels: :closed_lock_with_key: security

#15208 FEATURE: Option for Notes to be Required on Asset Checkin/Checkout
  app/Http/Controllers/SettingsController.php
  app/Http/Requests/AssetCheckinRequest.php
  app/Http/Requests/AssetCheckoutRequest.php
  app/Models/Setting.php
  database/migrations/2024_08_01_201721_add_required_notes_setting.php
  resources/assets/less/app.less
  resources/lang/en-US/admin/settings/general.php
  resources/views/hardware/checkin.blade.php
  resources/views/hardware/checkout.blade.php
  resources/views/settings/general.blade.php
Labels: frontend, backend, translations
