Repository grokability/snipe-it, pull requests merged in 2025-04, with the labels that each got.

#15922 Requestable/Request Item API Endpoints
  app/Actions/CheckoutRequests/CancelCheckoutRequestAction.php
  app/Actions/CheckoutRequests/CreateCheckoutRequestAction.php
  app/Exceptions/AssetNotRequestable.php
  app/Exceptions/UserDoestExistException.php
  app/Http/Controllers/Api/CheckoutRequest.php
  app/Http/Controllers/ViewAssetsController.php
  app/Models/Asset.php
  database/factories/AssetFactory.php
  resources/views/partials/bootstrap-table.blade.php
  routes/api.php
  routes/web.php
  tests/Feature/Checkouts/Api/AssetCheckoutTest.php
Labels: frontend, backend, api, tests

#16561 Adds Pagination to Hardware By Serial API Request
  app/Http/Controllers/Api/AssetsController.php
Labels: backend, api

#16613 Update rollbar-laravel to 8.1
  composer.lock
Labels: backend, dependencies

#16617 Fixed #16257 - Added acceptance PDF logo upload
  app/Http/Controllers/Account/AcceptanceController.php
  app/Http/Controllers/SettingsController.php
  database/migrations/2025_04_02_113438_add_acceptance_pdf_logo_to_settings.php
  resources/lang/en-US/admin/settings/general.php
  resources/views/partials/forms/edit/uploadLogo.blade.php
  resources/views/settings/branding.blade.php
Labels: frontend, backend, translations

#16620 Fixed #16619 - cloning accessory was not populating fields
  app/Http/Controllers/Accessories/AccessoriesController.php
  routes/web/accessories.php
Labels: backend, accessories

#16609 Updated login attempts and throttle duration
  app/Http/Controllers/Auth/LoginController.php
  resources/lang/en-US/auth.php
  resources/lang/en-US/auth/message.php
  tests/Feature/Authentication/LoginTest.php
Labels: backend, translations, tests

#16624 Fixed [SC-28682] - Consumable import not importing supplier and item number
  app/Importer/ConsumableImporter.php
  app/Importer/ItemImporter.php
  app/Models/Consumable.php
  resources/views/livewire/importer.blade.php
  sample_csvs/accessories-sample.csv
  sample_csvs/consumables-sample.csv
  tests/Feature/Importing/Api/ImportConsumablesTest.php
Labels: frontend, backend, consumables, importer, livewire, tests

#16631 Added webp as inline-able images
  app/Helpers/Helper.php
Labels: backend

#16630 Fixed #16628 - added formatting for license keys
  app/Presenters/LicensePresenter.php
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/mix-manifest.json
  resources/assets/less/overrides.less
  resources/lang/en-US/general.php
  resources/views/account/view-assets.blade.php
  resources/views/hardware/view.blade.php
  resources/views/licenses/checkin.blade.php
  resources/views/licenses/checkout.blade.php
  resources/views/licenses/edit.blade.php
  resources/views/licenses/view.blade.php
  resources/views/partials/bootstrap-table.blade.php
  resources/views/users/view.blade.php
Labels: frontend, backend, css, skins, translations

#16446 Improved wording in asset checkout emails
  app/Mail/CheckoutAssetMail.php
  database/factories/AssetFactory.php
  database/factories/AssetModelFactory.php
  database/factories/CategoryFactory.php
  resources/lang/en-US/mail.php
  resources/views/mail/markdown/checkout-asset.blade.php
  tests/Unit/Mail/CheckoutAssetMailTest.php
Labels: frontend, backend, translations, tests

#16623 Fixes Accessories history table color contrast
  resources/views/accessories/view.blade.php
Labels: frontend

#16632 Paveit had old Doctrine code to list tables; use the new method
  app/Console/Commands/PaveIt.php
Labels: backend, cli / artisan

#16643 Text tweaks and nicer buttons for requestable items
  resources/lang/en-US/admin/hardware/message.php
  resources/views/partials/bootstrap-table.blade.php
Labels: frontend, translations

#16653 Fixed #13475 - Add custom fields to audit screen
  app/Http/Controllers/Api/AssetsController.php
  app/Http/Controllers/Assets/AssetsController.php
  app/Http/Controllers/CustomFieldsController.php
  app/Http/Controllers/ReportsController.php
  app/Http/Requests/Traits/MayContainCustomFields.php
  app/Http/Transformers/CustomFieldsTransformer.php
  app/Models/Asset.php
  app/Models/Loggable.php
  app/Presenters/AccessoryPresenter.php
  app/Presenters/ActionlogPresenter.php
  app/Presenters/LocationPresenter.php
  database/factories/UserFactory.php
  database/migrations/2025_04_07_145418_add_custom_fields_to_audit.php
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/mix-manifest.json
  resources/assets/less/overrides.less
  resources/lang/en-US/admin/custom_fields/general.php
  resources/lang/en-US/general.php
  resources/views/accessories/view.blade.php
  resources/views/consumables/view.blade.php
  resources/views/custom_fields/fields/edit.blade.php
  resources/views/custom_fields/index.blade.php
  resources/views/hardware/audit.blade.php
  resources/views/hardware/quickscan.blade.php
  resources/views/hardware/view.blade.php
  resources/views/layouts/default.blade.php
  resources/views/licenses/view.blade.php
  resources/views/locations/view.blade.php
  resources/views/models/custom_fields_form.blade.php
  resources/views/partials/bootstrap-table.blade.php
  resources/views/reports/asset_maintenances.blade.php
  resources/views/users/view.blade.php
  routes/api.php
  routes/web/hardware.php
  tests/Feature/Assets/Api/AuditAssetTest.php
  tests/Feature/Assets/Ui/AuditAssetTest.php
Labels: frontend, backend, css, custom fields, consumables, api, skins, translations, tests

#16655 Fixed #13274 - Adds more searchable relations to activity report
  app/Models/Actionlog.php
Labels: backend

#16651 Fixes #9660 - Adds location qr code option to labels
  app/Http/Controllers/LabelsController.php
  app/View/Label.php
  resources/views/settings/labels.blade.php
Labels: frontend, backend

#16652 Username dropdown to show Usernames and not Emails as Examples
  resources/lang/en-US/admin/settings/general.php
  resources/macros/macros.php
  resources/views/settings/general.blade.php
  tests/Unit/UserTest.php
Labels: frontend, translations, tests

#16636 Added tests around deleting assets
  tests/Feature/Assets/Ui/DeleteAssetTest.php
Labels: tests

#16560 Meta Status Fix for Multi Company
  app/Presenters/AssetPresenter.php
Labels: backend

#16500 Added command to fix bulk checkin action log entries
  app/Console/Commands/FixBulkAccessoryCheckinActionLogEntries.php
Labels: backend, cli / artisan

#16527 add notes as fillable to license seat model
  app/Http/Controllers/Api/LicenseSeatsController.php
  app/Models/LicenseSeat.php
  tests/Feature/Checkins/Api/LicenseCheckInTest.php
  tests/Feature/Checkouts/Api/LicenseCheckOutTest.php
Labels: backend, api, tests

#16658 Set empty array if group permission is a string or null
  app/Http/Controllers/GroupsController.php
Labels: backend

#16529 Fix active table tab and double scroll bar under locations
  resources/views/locations/view.blade.php
Labels: frontend

#16493 Add min_qty to asset model bulk edit
  app/Http/Controllers/BulkAssetModelsController.php
  resources/views/models/bulk-edit.blade.php
  resources/views/partials/forms/edit/minimum_quantity.blade.php
Labels: frontend, backend

#12577 Added #2353: Add ability to tie locations to companies - 2023 edition
  app/Console/Commands/TestLocationsFMCS.php
  app/Helpers/Helper.php
  app/Http/Controllers/Api/LocationsController.php
  app/Http/Controllers/LocationsController.php
  app/Http/Controllers/SettingsController.php
  app/Http/Transformers/LocationsTransformer.php
  app/Models/Accessory.php
  app/Models/Asset.php
  app/Models/CompanyableTrait.php
  app/Models/Component.php
  app/Models/Consumable.php
  app/Models/Location.php
  app/Models/User.php
  app/Presenters/LocationPresenter.php
  app/Providers/ValidationServiceProvider.php
  database/migrations/2022_02_10_110210_add_company_id_to_locations.php
  database/migrations/2023_02_27_092130_add_scope_locations_setting.php
  resources/lang/de-DE/admin/settings/general.php
  resources/lang/en-US/admin/settings/general.php
  resources/views/locations/edit.blade.php
  resources/views/locations/index.blade.php
  resources/views/locations/print.blade.php
  resources/views/locations/view.blade.php
  resources/views/modals/location.blade.php
  resources/views/partials/bootstrap-table.blade.php
  resources/views/settings/general.blade.php
Labels: frontend, backend, api, cli / artisan, translations

#16660 Small improvements to location-by-company scoping
  app/Console/Commands/TestLocationsFMCS.php
  app/Helpers/Helper.php
  app/Http/Controllers/SettingsController.php
  resources/lang/en-US/admin/settings/message.php
  resources/views/settings/general.blade.php
Labels: frontend, backend, cli / artisan, translations

#16666 Added signature to licenses in print view, misc other fixes
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/dist/all.css
  public/mix-manifest.json
  resources/assets/less/overrides.less
  resources/views/consumables/checkout.blade.php
  resources/views/users/print.blade.php
Labels: frontend, css, consumables, skins

#16668 Handle Potentially Unsafe File Output Better During Restore
  app/Console/Commands/RestoreFromBackup.php
Labels: backend, backups, restore, cli / artisan

#16669 Fixed #16130 - Added translations for skins, other settings
  resources/lang/en-US/general.php
  resources/macros/macros.php
  resources/views/partials/forms/edit/uploadLogo.blade.php
  resources/views/settings/branding.blade.php
Labels: frontend, translations

#16592 Improve Settings: Remove username and password requirement for ldap
  app/Http/Requests/StoreLdapSettings.php
Labels: backend, ldap

#16672 Added gates to printing locations
  app/Http/Controllers/LocationsController.php
  tests/Feature/Locations/Ui/ShowLocationTest.php
  tests/Feature/Settings/LdapSettingsTest.php
Labels: backend, ldap, tests

#16671 Partial fix for #16135 - normalized asset file listing at API endpoint
  app/Http/Controllers/Api/AssetFilesController.php
  app/Http/Controllers/Api/AssetsController.php
  app/Http/Transformers/UploadedFilesTransformer.php
  routes/api.php
  tests/Feature/Assets/Api/AssetFilesTest.php
Labels: backend, api, tests

#16674 Add Support for Uploading AVIF Logo Images
  app/Console/Commands/RestoreFromBackup.php
  resources/views/partials/forms/edit/uploadLogo.blade.php
Labels: frontend, backend, backups, restore, cli / artisan

#16637 Fixed #8188 - Added Last Name as an email format
  app/Models/User.php
  resources/lang/en-US/admin/settings/general.php
  resources/lang/en-US/general.php
  resources/macros/macros.php
  resources/views/settings/general.blade.php
  tests/Unit/UserTest.php
Labels: frontend, backend, translations, tests

#16682 FIXED: Location Being Overwritten By Default Location
  app/Http/Controllers/Assets/AssetsController.php
  tests/Feature/Assets/Ui/EditAssetTest.php
Labels: backend, tests

#16676 Store accepted_at and declined_at in action log when accepting/declining assets
  app/Listeners/LogListener.php
  tests/Feature/CheckoutAcceptances/Ui/AssetAcceptanceTest.php
Labels: backend, tests

#16683 Create default label when importing assets if none exists
  app/Importer/AssetImporter.php
  tests/Unit/Importer/AssetImportTest.php
Labels: backend, importer, tests

#16702 Separate docker builds into Intel/ARM builds
  .github/workflows/docker-arm.yml
  .github/workflows/docker-intel.yml
Labels: config

#16711 Updated dev CSS/LESS/JS assets
  package-lock.json
  package.json
  public/js/dist/bootstrap-table.js
  public/mix-manifest.json
Labels: frontend, javascript, dependencies, skins

#16701 Update references to the repo to reflect move to Grokability org
  .github/workflows/codacy-analysis.yml
  .github/workflows/docker-alpine.yml
  .github/workflows/docker-arm.yml
  .github/workflows/docker-intel.yml
  .github/workflows/docker.yml
  CONTRIBUTORS.md
  Dockerfile
  Dockerfile.fpm-alpine
  README.md
  Vagrantfile
  app.json
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/ProfileController.php
  app/Models/CustomField.php
  app/Models/Traits/Searchable.php
  app/Observers/AssetObserver.php
  app/Policies/CustomFieldsetPolicy.php
  app/Policies/LicensePolicy.php
  composer.json
  database/migrations/2023_08_23_232739_create_report_templates_table.php
  database/migrations/2025_01_06_210534_change_report_templates_options_to_column_text_field.php
  docker/startup.sh
  install.sh
  public/.well-known/security.txt
  public/css/build/app.css
  public/css/build/overrides.css
  public/css/build/overrides.css.map
  public/css/dist/all.css
  public/css/overrides.css.map
  resources/assets/less/overrides.less
  snipeit.sh
  tests/Feature/Assets/Api/StoreAssetWithFullMultipleCompanySupportTest.php
  upgrade.php
Labels: frontend, backend, docker, css, custom fields, dependencies, config, skins, tests

#16667 Adds option to redirect back to checkedInBy user for assets/licenses/accessories
  app/Helpers/Helper.php
  app/Http/Controllers/Accessories/AccessoryCheckinController.php
  app/Http/Controllers/Assets/AssetCheckinController.php
  app/Http/Controllers/Licenses/LicenseCheckinController.php
  resources/lang/en-US/general.php
  resources/views/accessories/checkin.blade.php
  resources/views/hardware/checkin.blade.php
  resources/views/licenses/checkin.blade.php
Labels: frontend, backend, translations

#16494 Avoid logging consumable checkins and purge action log of bad entries
  app/Http/Controllers/Users/BulkUsersController.php
  database/migrations/2025_03_12_184851_purge_action_logs_table_of_consumable_checkin_entries.php
  tests/Feature/Users/Ui/BulkActions/BulkDeleteUsersTest.php
Labels: backend, tests

#16688 Fixes #14734: Only show signatures for the printed user
  app/Http/Controllers/Users/UsersController.php
  app/Models/Loggable.php
  resources/views/users/print.blade.php
Labels: frontend, backend

#16538 Return null from accessory transformer for missing assignment
  app/Http/Transformers/AccessoriesTransformer.php
Labels: backend

#16435 Disallow deleting accessories that have active checkouts
  app/Http/Controllers/Accessories/AccessoriesController.php
  app/Http/Controllers/Api/AccessoriesController.php
  app/Http/Transformers/AccessoriesTransformer.php
  database/factories/AccessoryFactory.php
  tests/Feature/Accessories/Api/DeleteAccessoriesTest.php
  tests/Feature/Accessories/Ui/DeleteAccessoryTest.php
Labels: backend, api, tests

#15420 Possible fix for #15315 - decode as permissions as boolean
  app/Models/User.php
Labels: backend

#16602 FIXED: Text Overflow on Settings Tiles
  resources/assets/less/app.less
  resources/views/settings/index.blade.php
Labels: frontend, css, skins

#16531 FIXED: Purchase Cost Column Always Shown
  app/Http/Controllers/ReportsController.php
Labels: backend
