Repository grokability/snipe-it, pull requests merged in 2025-06, with the labels that each got.

#16998 Bumped container image versions
  dev.docker-compose.yml
  docker-compose.yml
Labels: docker

#16469 Fixed `action_date` in `action_logs`
  app/Models/Actionlog.php
  app/Models/Loggable.php
  app/Presenters/HistoryPresenter.php
  database/migrations/2025_03_06_152922_copy_created_at_to_action_date_in_action_logs.php
  resources/lang/en-US/general.php
  resources/views/accessories/view.blade.php
  resources/views/blade/filestable.blade.php
  resources/views/components/view.blade.php
  resources/views/consumables/view.blade.php
  resources/views/hardware/view.blade.php
  resources/views/licenses/view.blade.php
  resources/views/reports/activity.blade.php
Labels: frontend, backend, consumables, translations

#14998 Added #14997: Display department manager in user view and list
  app/Http/Transformers/UsersTransformer.php
  app/Presenters/UserPresenter.php
  resources/lang/en-US/admin/users/general.php
  resources/views/users/view.blade.php
Labels: frontend, backend, translations

#17195 Fixed #17192 - wonky layout on bulk edit screens
  resources/views/models/custom_fields_form_bulk_edit.blade.php
Labels: custom fields, ui
